/*General CSS*/
hr {
    width: 4%;
    border-width: 1px;
}

p {
    text-align: center;
}

/*Wallpaper CSS*/
#wallpaper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    background-color: darkcyan;
    width: 100%;
    height: 500px;
}

.item-a, .item-b, .item-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-a img{
    width: 220px;
    height: 160px;
}

.item-a h3 {
    font-family: 'Open Sans', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: whitesmoke;
}

.item-b h1, .item-b h3 {
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: x-large;
    color: whitesmoke;
}

.item-b h3 {
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: x-large;
    color: whitesmoke;
}

.item-c img {
    width: 220px;
    height: 160px;
}

.item-c h3 {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin-bottom: 10px;
}

/*Introduction CSS*/
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0px;
}

#intro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#intro h3 {
    text-align: center;
    font-family: 'Salsa', cursive;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: black;
}

#intro h5 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: black;
}

/*Experience CSS*/

#exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0px;
}

#exp h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: black;
}


